<div class="flex justify-center p-2">
    <div class="flex flex-col items-center justify-center">
        <button (click)="prevPage()" class="border p-5 text-white hover:text-black hover:bg-white font-semibold">Page --</button>
    </div>
    <div class="flex flex-col items-center justify-center w-9/12" *ngIf="movies && movies.length > 0">
        <h1 class="text-white text-[1.3rem] font-semibold">MoVid - ©Axios</h1>
        <div *ngIf="!movies || movies.length === 0">
            <p style="color: white; text-align: center">No movies found.</p>
        </div>
        <table class="movie-table m-0">
            <thead>
                <tr>
                    <th>TITLE</th>
                    <th>IMDB ID</th>
                    <th>LINK 1</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of movies">
                    <td style="text-align: center">{{ movie.title }}</td>
                    <td style="text-align: center">{{ movie.imdb_id }}</td>
                    <td style="text-align: center">
                        <a [routerLink]="['/video-player', movie.embed_url_imdb, movie.title]" class="text-[blanchedalmond] hover:text-[red]"
                            >Play Now</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        <span class="text-white font-semibold mt-1">Page {{ currentPage }}</span>
    </div>
    <div class="flex flex-col items-center justify-center">
        <button (click)="nextPage()" class="border p-5 text-white hover:text-black hover:bg-white font-semibold">Page ++</button>
    </div>
</div>

